# Environment Configuration
NODE_ENV=development

# Server Configuration
PORT=5000

# Database Configuration
MONGO_URI=mongodb://localhost:27017/ratnsetu

# JWT Secret (Change this in production!)
JWT_SECRET=your_jwt_secret_here

# Cloudinary Configuration
Cloudnary_API_KEY=your_cloudinary_api_key
Cloudnary_API_SECRET=your_cloudinary_api_secret
Cloudnary_CLOUD_NAME=your_cloudinary_cloud_name

# Frontend URL (for CORS in production)
FRONTEND_URL=http://localhost:3000
RAZORPAY_KEY_ID=rzp_test_your_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret

APPLE_BUNDLE_ID=com.ratnsetu.app
APPLE_APP_APPLE_ID=6816349226
APPLE_IAP_ENVIRONMENT=Sandbox
APPLE_IAP_ALLOW_SANDBOX=true
APPLE_IAP_KEY_ID=3SZ94U7LQ9
APPLE_IAP_ISSUER_ID=7bcf4186-593a-44a0-82f4-bec89b9d7014
APPLE_IAP_PRIVATE_KEY=MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQghxv3ekCj7lLeoIqmbmoQARNcbUaCSb4/obzRUxCVgDigCgYIKoZIzj0DAQehRANCAATOWDKFbsHoVeDz4WkHaoVTCHy5eVMrOEVaYZT2fSTWyJAlEvZu2Nwr4L1rOWua/FcbAW0goZuhV5694vZWYUxD
APPLE_IAP_PRIVATE_KEY_PATH=Backend/SubscriptionKey_3SZ94U7LQ9.p8
